{% extends 'base.html.twig' %}

{% block title %}Nozama - À Propos{% endblock %}

{% block body %}
<div class="header">
    <div class="navbar">
        <div class="nav-gau">
            <img class="logo" src="./Nozama.png">
            <a class="nom-site" href="/">Nozama</a>
            <a class="propos" href="/about">À PROPOS</a>
            <a class="produits" href="/">PRODUITS</a>
        </div>
        <div class="nav-droi">
            <a class="connecter" href="/login">SE CONNECTER</a>
            <a class="enregistrer" href="/register">S'ENREGISTRER</a>
            <button class="btn-panier"><img class="panier" src="./panier.png"></button>
        </div>
    </div>
</div>

<div class="form-register">
    <div class="fond-blabla">
        <p class="blabla">Nozama en France : une contribution positive à l’économie Nous servons avec passion nos clients en France. Toutefois, si nous pensons d’abord à eux, nous accordons également la plus grande importance à notre empreinte économique, sociale et environnementale au niveau local. En mettant toute notre énergie, notre savoir-faire et notre capacité d’innovation au service des Français, nous contribuons à la croissance de l’économie française. Nous souhaitions partager un aperçu de la manière dont nous contribuons à la croissance de l’économie française, à la création de milliers d’emplois, au financement des services publics et du modèle social français ; tout en prenant soin de préserver l’environnement.</p>
    </div>
</div>

<div class="footer">
    <div class="stuff">
        <p class="boring">Boring Stuff</p>
        <p class="copy">Copyright © Nozama 2022</p>
        <p class="mention">Mentions Légales</p>
    </div>
</div>
{% endblock %}
