{% extends 'base.html.twig' %}

{% block title %}Nozama - Se Connecter{% endblock %}

{% block body %}
<div class="header">
    <div class="navbar">
        <div class="nav-gau">
            <img class="logo" src="./Nozama.png">
            <a class="nom-site" href="/">Nozama</a>
            <a class="propos" href="/about">À PROPOS</a>
            <a class="produits" href="/">PRODUITS</a>
        </div>
        <div class="nav-droi">
            <a class="connecter" href="/login">SE CONNECTER</a>
            <a class="enregistrer" href="/register">S'ENREGISTRER</a>
            <button class="btn-panier"><img class="panier" src="./panier.png"></button>
        </div>
    </div>
</div>

<div class="form-register">
    <div class="accrocher">
            <p class="accroches">Vous êtes au bon endroit,</p>
            <p class="accroches">Pour vous connecter !</p>
        </div>
    <div class="fond-blabla">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour, vous êtes bien connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Se Déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous ici !</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Se Connecter
    </button>
</form>
</div>
</div>

<div class="footer">
    <div class="stuff">
        <p class="boring">Boring Stuff</p>
        <p class="copy">Copyright © Nozama 2022</p>
        <p class="mention">Mentions Légales</p>
    </div>
</div>
{% endblock %}


