{% extends 'base.html.twig' %}

{% block title %}Nozama - Accueil et Produits{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
    <div class="navbar">
        <div class="nav-gau">
            <img class="logo" src="./Nozama.png">
            <a class="nom-site" href="/">Nozama</a>
            <a class="propos" href="/about">À PROPOS</a>
            <a class="produits" href="/">PRODUITS</a>
        </div>
        <div class="nav-droi">
            <a class="connecter" href="/login">SE CONNECTER</a>
            <a class="enregistrer" href="/register">S'ENREGISTRER</a>
            <button class="btn-panier"><img class="panier" src="./panier.png"></button>
        </div>
    </div>
</div>

    <div class="first">
        <div class="accroche">
            <p class="accroches">Rechercher un article,</p>
            <p class="accroches">C'est aussi simple que ça !</p>
        </div>
        <form>
            <div class="recherche">
                <input placeholder="Étagère Kruikube..." class="barre" type="search">
                <button class="btn-loupe"><img class="loupe1" src="loupe1.png"></button>
            </div>
        </form>
        <div class="promo">
            <div class="check">
                <img class="img-check" src="check.png">
                <p class="txt-check">Des milliers de références disponibles</p>
            </div>
            <div class="livrer">
                <img class="img-livrer" src="livrer.png">
                <p class="txt-livrer">Aussitôt commandé, aussitôt livré !</p>
            </div>
            <div class="sav">
                <img class="img-sav" src="sav.png">
                <p class="txt-sav">Enfin un service client à la hauteur de vos attentes</p>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="titre">
            <h2 class="txt-produit">LES PRODUITS</h2>
        </div>
        <div class="produit">
            <div class="page">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="stuff">
            <p class="boring">Boring Stuff</p>
            <p class="copy">Copyright © Nozama 2022</p>
            <p class="mention">Mentions Légales</p>
        </div>
    </div>
</div>
{% endblock %}
