/* GENERAL */

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* PAGE ACCUEIL */

/* HEADER */

/* NAVBAR */
.navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #ffbd59;
    height: 60px;
}

/* PARTIE GAUCHE NAVBAR*/
.nav-gau {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-height: 5%;
}

.logo {
    height: 12%;
    width: 12%;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.nom-site {
    font-family: 'Bangers', cursive !important;
    font-size: 35px;
    padding-bottom: 5px;
    margin: 0 0 !important;
    text-decoration: none;
    color:rgb(41, 40, 40);
}

/* BOUTON  NAVBAR GENERAL */
.propos, .produits, .connecter, .enregistrer {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(40, 40, 40);
    text-decoration: none !important;
}

.propos, .produits {
    font-size: 150%;
    font-weight: 900;
    padding-left: 20px;
}

/* PARTIE DROITE NAVBAR */

.nav-droi {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.connecter, .enregistrer {
    font-size: 130%;
    font-weight: 900;
    padding-left: 20px;
}

.panier {
    width: 100%;
    height: 100%;
}

.btn-panier {
    width: 12%;
    background: none;
    border: none;
    cursor: pointer;
}

/* BODY */

/* ACCUEIL */

.first {
    background-image: url("./Background.png");
    background-size: cover;
    height: 48rem;
    opacity: 0.85;
    border-bottom: 5px solid #1191d8;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 80px;
    padding-right: 80px;
}

.accroches {
    color: white;
    font-size: 400%;
    margin: 0 0;
    font-weight: 900;
}

/* BARRE DE RECHERCHE */

.recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.barre {
    margin-left: 50px;
    border-radius: 25px;
    border: none;
    border-right: none;
    height: 50px;
    width: 200%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    font-size: x-large;
}

.btn-loupe, .loupe1 {
    width: 50px;
    height: 50px;
    padding: 0 0;
    border-radius: 25px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

/* ICONE & PROMO */

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.check, .livrer, .sav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img-check, .img-sav {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.img-livrer {
    height: 60px;
    width: 60px;
}

.txt-check, .txt-livrer, .txt-sav {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

/* PRODUIT */

/* TITRE */

.titre {
    background-color: white;
    border-bottom: solid 5px #ffbd59;

    display: flex;
    justify-content: center;
}

.txt-produit {
    font-size: 60px;
    color: #2c2c2c;
    font-weight: 900;
}

/* PRODUITS */

.produit {
    height: 10rem;
    background-color: #232d3b;
    border-bottom: solid 5px #1191d8;
}

/* FOOTER */

.stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.boring, .copy, .mention {
    font-size: x-large;
}

/* PAGE REGISTER */

.fond-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 60px;
    width: 35%;
    height: 50%;
    background-color: aliceblue;
    border-radius: 25px;
}

.form-register {
    background-image: url("./Background.png");
    background-size: cover;
    height: 48rem;
    opacity: 0.85;
    border-bottom: 5px solid #1191d8;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.accrocher {
    text-align: center;
}

/* PAGE ABOUT */

.fond-blabla {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 60%;
    height: 30%;
    background-color: aliceblue;
    border-radius: 25px;

    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

    text-align: justify;
    font-size: larger;
}

/* PAGE 404 */

.fond-error {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: aliceblue;
    border-radius: 25px;

    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

    text-align: justify;
    font-size: larger;
}