{% extends 'base.html.twig' %}

{% block title %}Nozama - Se Connecter{% endblock %}

{% block body %}
<div class="header">
    <div class="navbar">
        <div class="nav-gau">
            <img class="logo" src="./Nozama.png">
            <a class="nom-site" href="/">Nozama</a>
            <a class="propos" href="/about">À PROPOS</a>
            <a class="produits" href="/">PRODUITS</a>
        </div>
        <div class="nav-droi">
            <a class="connecter" href="/login">SE CONNECTER</a>
            <a class="enregistrer" href="/register">S'ENREGISTRER</a>
            <button class="btn-panier"><img class="panier" src="./panier.png"></button>
        </div>
    </div>
</div>

<div class="first">
</div>

<div class="footer">
    <div class="stuff">
        <p class="boring">Boring Stuff</p>
        <p class="copy">Copyright © Nozama 2022</p>
        <p class="mention">Mentions Légales</p>
    </div>
</div>
{% endblock %}
